* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

#heading {
    position: fixed;
    left: 10px;
    top: 10px;
    color: rgb(110, 76, 31);
    border: 2px solid rgb(110, 76, 31);
    border-radius: 5px;
    padding: 3px 3px;
    user-select: none;
}

#addTodo {
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    background-color: lightgray;
    user-select: none;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#todoContainer {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.inputText {
    width: 430px;
    height: 30px;
    font-size: 20px;
    padding: 4px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}

.inputText:focus {
    outline: 0;
}

i {
    margin: 10px 10px
}

.iElement {
    display: flex;
    background-color: lightgray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#selectEditTodo {
    display: none;
}

#empty_heading {
    margin-top: 100px;
    color: rgba(222, 184, 135, 0.525);
    display: none;
    user-select: none;
}

@media screen and (max-width: 500px) {
    .todo {
        width: 90vw;
    }
    body{
        touch-action: pan-y;
    }
}